<div class="side-bar-header">
  <div class="side-bar-name">
    <a href="#">Tom</a>
  </div>
  <div class="side-bar-room">
    <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="side-bar-main">
  <div class="chat-room">
    <%= link_to "techroom1", "#", class: "chat-room-link"  %>
  </div>
  <div class="chat-room">
    <%= link_to "techroom2", "#", class: "chat-room-link"  %>
  </div>
</div>