<div class="side-bar-header">
  <div class="side-bar-name">
    <a href="#">Steve Jobs</a>
  </div>
  <div class="side-bar-room">
    <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="side-bar-main">
  <div class="chat-room">
    <%= link_to "Apple", "#", class: "chat-room-link"  %>
  </div>
  <div class="chat-room">
    <%= link_to "NeXT", "#", class: "chat-room-link"  %>
  </div>
  <div class="chat-room">
    <%= link_to "Pixer", "#", class: "chat-room-link"  %>
  </div>
</div>